<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - ShopApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/Menu/Index">Inicio</a></li>
                <li><a href="/Productos/Index">Productos</a></li>
                <li><a href="/Carrito/Index">Carrito</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2025 ShopApp. Creado por Esteban M. Cruz Seoane</p>
    </footer>
</body>
</html>
